.CourseButton {
    background-color: #dddddd;
    white-space: normal;
    word-wrap: break-word;

    margin: 20px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;

    transition: 0.2s;
    cursor: pointer;
}

#notTaken {
    background-color: #dddddd;
}

#notTaken:hover {
    background-color: #8b8b8b;
}

#taken {
    background-color: green;
}

#taken:hover {
    background-color: darkgreen;
}

.CourseButton .class-code {
    font-weight: bold;
    font-size: 35px;
    height: 50px;
    width: 235px;
}

.CourseButton .class-name {
    font-size: 20px;
    height: 50px;
    width: 235px;
}
