.App {
  text-align: center;
  background-attachment: scroll;
  background-color: #eeeeee;
  height: 100vh;
}

.HomPage {
  background-color: #eeeeee;
}

.HomePage .Courses {
  background-color: #eeeeee;
}

.HomePage .search-bar-container {
  padding-top: 0%;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.AdvisorsPage {
  background-color: #eeeeee;
}

.AdvisorsPage .Advisors {
  margin-top: 50px;
  background-color: #eeeeee;
}

.AdvisorsPage .advisor {
  line-height: 5px;
  height: 80px;
  background-color: #eeeeee;
}

.back-link {
  position: absolute;
  left: 2%;
}

.TreePage .course-tree {
  background-color: #dcdcdc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
